.blackWhite {
    color:black;
    background-color:white;
}

.greyWhite {
    color:grey;
    background-color:white;
}

.blackYellow {
    color:black;
    background-color:yellow;
}

.redYellow {
    color:red;
    background-color:yellow;
}